<ion-view view-title="Administration" class="administration-state">
<ion-content>
<div class="list item-text-wrap">
	<div class="item item-divider">Bereits angelegte Spieltage:</div>
	<ul>
		<li ng-repeat="game in admin.futureGames(admin.gameDates)" class="item item-button-right">
			{{game.date | amDateFormat:'DD.MM.YYYY'}}
			<button class="button button-small" ng-click="admin.startGame(game)">
				Spiel starten
			</button>
		</li>
	</ul>
</div>
<ionic-datepicker idate="admin.currentDate" disablepreviousdates="true" callback="admin.addNewGameDatePickerCallback" disableddates="admin.gameDates" title="'Spieltag auswählen'" mondayfirst="true">
<button class="button button-full button-positive ion-plus"> Neuen Spieltag hinzufügen</button>
</ionic-datepicker>
</ion-content>
</ion-view>
