<ion-view view-title="Administration" class="administration-state">
<ion-content>
<div class="list item-text-wrap">
	<div class="item item-divider">Bereits angelegte Spieltage:</div>
	<ul>
		<li ng-repeat="game in admin.futureGames(admin.games)" class="item item-button-right">
			{{game.date | amDateFormat:'DD.MM.YYYY'}}
			<button class="button button-small" ng-click="admin.changeGameState(game)" ng-class="{'button-positive': game.state === 'running', 'button-balanced': game.state === 'stopped'}">
				<span ng-if="game.state === 'planned'">Spiel starten</span>
				<span ng-if="game.state === 'running'">Spiel gestartet</span>
				<span ng-if="game.state === 'stopped'">Spiel beendet</span>
			</button>
		</li>
	</ul>
</div>
<ionic-datepicker idate="admin.currentDate" disablepreviousdates="true" callback="admin.addNewGameDatePickerCallback" disableddates="admin.games" title="'Spieltag auswählen'" mondayfirst="true">
<button class="button button-full button-positive ion-plus"> Neuen Spieltag hinzufügen</button>
</ionic-datepicker>
</ion-content>
</ion-view>
