<ion-view view-title="Spielanmeldung">
<ion-content>
<h1>Spielanmeldung</h1>
<div>30.07.2015</div>
<div>
	Ich bin dabei
	<label class="toggle">
		<input type="checkbox">
		<div class="track">
			<div class="handle"></div>
		</div>
	</label>
</div>
<div class="list">
	<label class="item item-input item-select">
		<div class="input-label">
			Spielbeginn
		</div>
		<select>
			<option selected>Egal</option>
			<option>Früh</option>
			<option>Spät</option>
		</select>
	</label>
	<label class="item item-input item-select">
		<div class="input-label">
			Spieldauer
		</div>
		<select>
			<option selected>Egal</option>
			<option>1,0h</option>
			<option>1,5h</option>
			<option>2,0h</option>
		</select>
	</label>
</div>
<div>
	Ich fahre zurück zur Firma
	<label class="toggle">
		<input type="checkbox">
		<div class="track">
			<div class="handle"></div>
		</div>
	</label>
</div>
<div>
	Essen
	<label class="toggle">
		<input type="checkbox">
		<div class="track">
			<div class="handle"></div>
		</div>
	</label>
</div>
</ion-content>
</ion-view>
